.fondo {
  background-color: #E3F4FC;
  min-height: 100vh;
  display: flex;
}

@media (min-width: 769px) {
  .fondo {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .fondo {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.der{
  background-color: #133040;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 2rem !important;
}

.izq {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}

.btn.calculate {
  background-color: #DADB31 ;  
}

.btn.calculate:hover {
  background-color: #c6cb2b !important; 
  
}

@media (max-width: 768px) {
  .btn.calculate {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.result-box {
  background: #18394c;
  border-radius: 1rem;
  border-top: 2px solid #dadb31;
}

.main-box {
  max-width: 900px;
  width: 100%;
}
